tạo luôn vào database itversity_sms_db, có lẽ sẽ drop table kia trước

In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://itversity_sms_user:sms_password@localhost:5432/itversity_sms_db

env: DATABASE_URL=postgresql://itversity_sms_user:sms_password@localhost:5432/itversity_sms_db

In [4]:
%%sql
SELECT * FROM information_schema.tables 
WHERE table_catalog = 'itversity_sms_db' AND table_schema = 'public'
LIMIT 10

1 rows affected.

[('itversity_sms_db', 'public', 'users', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)]

In [6]:
%%sql
select * from users;

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
3 rows affected.

[(17, 'Gordan', 'Bradock', 'GBRADOCK0@BARNESANDNOBLE.COM', True, 'h9LAz7p7ub', 'U', True, datetime.datetime(2021, 8, 6, 13, 16, 55, 928223), datetime.datetime(2021, 8, 6, 13, 16, 55, 928223), 'GORDAN BRADOCK'),
 (18, 'Tobe', 'Lyness', 'TLYNESS1@PAGINEGIALLE.IT', True, 'oEofndp', 'U', True, datetime.datetime(2021, 8, 6, 13, 16, 55, 928223), datetime.datetime(2021, 8, 6, 13, 16, 55, 928223), 'TOBE LYNESS'),
 (19, 'Addie', 'Mesias', 'AMESIAS2@TWITPIC.COM', True, 'ih7Y69u56', 'U', True, datetime.datetime(2021, 8, 6, 13, 16, 55, 928223), datetime.datetime(2021, 8, 6, 13, 16, 55, 928223), 'ADDIE MESIAS')]

In [28]:
%%sql

DROP TABLE IF EXISTS courses;

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [30]:
%%sql
select * from courses;

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
(psycopg2.errors.UndefinedTable) relation "courses" does not exist
LINE 1: select * from courses;
                      ^

[SQL: select * from courses;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [31]:
%%sql

CREATE TYPE status AS ENUM ('published', 'draft', 'inactive');

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
(psycopg2.errors.DuplicateObject) type "status" already exists

[SQL: CREATE TYPE status AS ENUM ('published', 'draft', 'inactive');]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [32]:
%%sql

-- CREATE TYPE status AS ENUM ('published', 'draft', 'inactive');

CREATE TABLE courses (
    course_id SERIAL PRIMARY KEY,
    course_name VARCHAR(60) NOT NULL,
    course_author VARCHAR(40) NOT NULL,
    course_status status NOT NULL,
    course_published_dt DATE,
    create_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    last_updated_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP
)

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [33]:
%%sql

SELECT * FROM information_schema.tables 
WHERE table_catalog = 'itversity_sms_db' AND table_schema = 'public'
LIMIT 10

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[('itversity_sms_db', 'public', 'courses', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)]

In [36]:
%%sql

INSERT INTO courses 
    (course_name, course_author, course_status, course_published_dt) 
VALUES 
    ('Programming using Python', 'Bob Dillon', 'published', '2020-09-30'),
    ('Data Engineering using Python', 'Bob Dillon', 'published', '2020-07-15'),
    ('Data Engineering using Scala', 'Elvis Presley', 'draft', NULL),
    ('Programming using Scala','Elvis Presley','published','2020-05-12'),
    ('Programming using Java', 'Mike Jack', 'inactive','2020-08-10'),
    ('Web Applications - Python Flask','Bob Dillon', 'inactive','2020-07-20'),
    ('Web Applications - Java Spring', 'Mike Jack', 'draft', NULL),
    ('Pipeline Orchestration - Python','Bob Dillon', 'draft', NULL),
    ('Streaming Pipelines - Python' ,'Bob Dillon','published', '2020-10-05'),
    ('Web Applications - Scala Play', 'Elvis Presley', 'inactive','2020-09-30'),
    ('Web Applications - Python Django', 'Bob Dillon', 'published', '2020-06-23'),
    ('Server Automation - Ansible', 'Uncle Sam', 'published', '2020-07-05')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
12 rows affected.

[]

In [37]:
%%sql

select * from courses;

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
12 rows affected.

[(1, 'Programming using Python', 'Bob Dillon', 'published', datetime.date(2020, 9, 30), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930)),
 (2, 'Data Engineering using Python', 'Bob Dillon', 'published', datetime.date(2020, 7, 15), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930)),
 (3, 'Data Engineering using Scala', 'Elvis Presley', 'draft', None, datetime.datetime(2021, 8, 6, 14, 49, 49, 338930), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930)),
 (4, 'Programming using Scala', 'Elvis Presley', 'published', datetime.date(2020, 5, 12), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930)),
 (5, 'Programming using Java', 'Mike Jack', 'inactive', datetime.date(2020, 8, 10), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930)),
 (6, 'Web Applications - Python Flask', 'Bob Dillon', 'inactive', datetime.date(2020, 7, 20), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930)),
 (7, 'Web Applications - Java Spring', 'Mike Jack', 'draft', None, datetime.datetime(2021, 8, 6, 14, 49, 49, 338930), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930)),
 (8, 'Pipeline Orchestration - Python', 'Bob Dillon', 'draft', None, datetime.datetime(2021, 8, 6, 14, 49, 49, 338930), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930)),
 (9, 'Streaming Pipelines - Python', 'Bob Dillon', 'published', datetime.date(2020, 10, 5), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930)),
 (10, 'Web Applications - Scala Play', 'Elvis Presley', 'inactive', datetime.date(2020, 9, 30), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930)),
 (11, 'Web Applications - Python Django', 'Bob Dillon', 'published', datetime.date(2020, 6, 23), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930)),
 (12, 'Server Automation - Ansible', 'Uncle Sam', 'published', datetime.date(2020, 7, 5), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930))]

In [48]:
%%sql

UPDATE courses
    SET course_published_dt = CURRENT_DATE,
        course_status = 'published'
WHERE course_status = 'draft' AND (course_name LIKE '%Python%' OR course_name LIKE '%Scala%')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
2 rows affected.

[]

In [49]:
%%sql

select * from courses;

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
12 rows affected.

[(1, 'Programming using Python', 'Bob Dillon', 'published', datetime.date(2020, 9, 30), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930)),
 (2, 'Data Engineering using Python', 'Bob Dillon', 'published', datetime.date(2020, 7, 15), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930)),
 (4, 'Programming using Scala', 'Elvis Presley', 'published', datetime.date(2020, 5, 12), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930)),
 (5, 'Programming using Java', 'Mike Jack', 'inactive', datetime.date(2020, 8, 10), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930)),
 (6, 'Web Applications - Python Flask', 'Bob Dillon', 'inactive', datetime.date(2020, 7, 20), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930)),
 (7, 'Web Applications - Java Spring', 'Mike Jack', 'draft', None, datetime.datetime(2021, 8, 6, 14, 49, 49, 338930), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930)),
 (9, 'Streaming Pipelines - Python', 'Bob Dillon', 'published', datetime.date(2020, 10, 5), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930)),
 (10, 'Web Applications - Scala Play', 'Elvis Presley', 'inactive', datetime.date(2020, 9, 30), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930)),
 (11, 'Web Applications - Python Django', 'Bob Dillon', 'published', datetime.date(2020, 6, 23), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930)),
 (12, 'Server Automation - Ansible', 'Uncle Sam', 'published', datetime.date(2020, 7, 5), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930)),
 (3, 'Data Engineering using Scala', 'Elvis Presley', 'published', datetime.date(2021, 8, 6), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930)),
 (8, 'Pipeline Orchestration - Python', 'Bob Dillon', 'published', datetime.date(2021, 8, 6), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930))]

In [53]:
%%sql 
DELETE FROM courses WHERE course_status NOT IN ('published');

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
4 rows affected.

[]

In [54]:
%%sql
select * from courses;

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
8 rows affected.

[(1, 'Programming using Python', 'Bob Dillon', 'published', datetime.date(2020, 9, 30), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930)),
 (2, 'Data Engineering using Python', 'Bob Dillon', 'published', datetime.date(2020, 7, 15), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930)),
 (4, 'Programming using Scala', 'Elvis Presley', 'published', datetime.date(2020, 5, 12), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930)),
 (9, 'Streaming Pipelines - Python', 'Bob Dillon', 'published', datetime.date(2020, 10, 5), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930)),
 (11, 'Web Applications - Python Django', 'Bob Dillon', 'published', datetime.date(2020, 6, 23), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930)),
 (12, 'Server Automation - Ansible', 'Uncle Sam', 'published', datetime.date(2020, 7, 5), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930)),
 (3, 'Data Engineering using Scala', 'Elvis Presley', 'published', datetime.date(2021, 8, 6), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930)),
 (8, 'Pipeline Orchestration - Python', 'Bob Dillon', 'published', datetime.date(2021, 8, 6), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930), datetime.datetime(2021, 8, 6, 14, 49, 49, 338930))]

In [55]:
%%sql 
SELECT course_author, count(1) AS course_count
FROM courses
WHERE course_status= 'published'
GROUP BY course_author

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
3 rows affected.

[('Bob Dillon', 5), ('Elvis Presley', 2), ('Uncle Sam', 1)]