## CTAS - Create Table as Select

Let us understand details related to CTAS or Create Table As Select.

* CTAS is primarily used to create tables based on query results.
* Following are some of the use cases for which we typically use CTAS.
  * Taking back up of tables for troubleshooting and debugging performance issues.
  * Reorganizing the tables for performance tuning.
  * Getting query results into a table for data analysis as well as checking data quality.
* We cannot specify column names and data types as part of `CREATE TABLE` clause in CTAS. It will pick the column names from the `SELECT` clause.
* It is a good practice to specify meaningful aliases as part of the `SELECT` clause for derived values.
* Also it is a good practice to explicitly type cast to the desired data type for derived values.

In [2]:
%load_ext sql

In [5]:
#%env DATABASE_URL=postgresql://itversity_retail_user:retail_password@localhost:5432/itversity_retail_db

%env DATABASE_URL=postgresql://retail_user:retail_password@localhost:5432/retail_db

env: DATABASE_URL=postgresql://retail_user:retail_password@localhost:5432/retail_db

In [9]:
%%sql

DROP TABLE IF EXISTS customers_backup

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [10]:
%%sql

CREATE TABLE customers_backup
AS
SELECT * FROM customers

 * postgresql://retail_user:***@localhost:5432/retail_db
12435 rows affected.

[]

In [11]:
%%sql

DROP TABLE IF EXISTS orders_backup

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [13]:
%%sql

CREATE TABLE orders_backup
AS
SELECT order_id,
    to_char(order_date, 'yyyy')::int AS order_year,
    to_char(order_date, 'MM')::int AS order_month,
    to_char(order_date, 'dd')::int AS order_day_of_month,
    to_char(order_date, 'DDD')::int AS order_day_of_year,
    order_customer_id,
    order_status
FROM orders

 * postgresql://retail_user:***@localhost:5432/retail_db
68883 rows affected.

[]

In [14]:
%%sql

SELECT * FROM orders_backup LIMIT 10

 * postgresql://retail_user:***@localhost:5432/retail_db
10 rows affected.

[(85, 2013, 7, 25, 206, 1485, 'PENDING'),
 (86, 2013, 7, 25, 206, 6680, 'PENDING_PAYMENT'),
 (87, 2013, 7, 25, 206, 3065, 'CLOSED'),
 (88, 2013, 7, 25, 206, 3809, 'COMPLETE'),
 (89, 2013, 7, 25, 206, 824, 'ON_HOLD'),
 (90, 2013, 7, 25, 206, 9131, 'CLOSED'),
 (91, 2013, 7, 25, 206, 8912, 'COMPLETE'),
 (92, 2013, 7, 25, 206, 6932, 'COMPLETE'),
 (93, 2013, 7, 25, 206, 2256, 'PENDING_PAYMENT'),
 (94, 2013, 7, 25, 206, 11589, 'PROCESSING')]

```{note}
At times we have to create empty table with only structure of the table. We can specify always false condition such as `1 = 2` as part of `WHERE` clause using CTAS.
```

In [15]:
%%sql

DROP TABLE IF EXISTS order_items_empty

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [16]:
%%sql

CREATE TABLE order_items_empty
AS
SELECT * FROM order_items WHERE 1 = 2

 * postgresql://retail_user:***@localhost:5432/retail_db
0 rows affected.

[]

In [17]:
%%sql

SELECT count(1) FROM order_items_empty

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(0,)]

```{note}
Keeping databases clean is very important. It is a good practice to clean up any temporary tables created for learning or troubleshooting issues.

In this case all the tables created using CTAS are dropped
```

In [18]:
%%sql

DROP TABLE IF EXISTS customers_backup;
DROP TABLE IF EXISTS orders_backup;
DROP TABLE IF EXISTS order_items_empty;

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.
Done.
Done.

[]