In [1]:
from pyspark.sql import SparkSession

import getpass
username = getpass.getuser()

username

'nghiaht7'

In [10]:
spark = SparkSession. \
    builder. \
    config('spark.ui.port', '4050'). \
    config("spark.sql.warehouse.dir", "/user/hive/warehouse"). \
    enableHiveSupport(). \
    appName(f'{username} | Spark SQL - Getting Started'). \
    master('yarn'). \
    getOrCreate()

In [11]:
spark

In [12]:
import pprint
pp = pprint.PrettyPrinter(width=50)

pp.pprint(spark.sql("SET spark.sql.warehouse.dir"))

+--------------------+--------------------+
|                 key|               value|
+--------------------+--------------------+
|spark.sql.warehou...|/user/hive/warehouse|
+--------------------+--------------------+

In [13]:
spark.sql('SHOW databases').show()

+---------+
|namespace|
+---------+
|  default|
|retail_db|
+---------+

In [14]:
spark.sql("DROP DATABASE IF EXISTS itversity_demo")

21/08/25 14:53:24 WARN ObjectStore: Failed to get database itversity_demo, returning NoSuchObjectException

++
||
++
++

In [15]:
spark.sql('SHOW databases').show()

+---------+
|namespace|
+---------+
|  default|
|retail_db|
+---------+

In [27]:
!hdfs dfs -chmod -R 757  /user/hive/warehouse/

In [29]:
# spark.sql("CREATE DATABASE itversity_demo")
spark.sql('SHOW databases').show()

+---------+
|namespace|
+---------+
|  default|
|retail_db|
+---------+

In [30]:
spark.sql('SELECT current_database()').show()

+------------------+
|current_database()|
+------------------+
|           default|
+------------------+

In [18]:
!hdfs dfs -ls /user/hive/warehouse

Found 1 items
drwxr-xrwx   - nghiaht7 supergroup          0 2021-08-24 17:16 /user/hive/warehouse/retail_db.db

In [32]:
spark.sql('USE retail_db')

++
||
++
++

In [33]:
spark.sql('Select * from retail_db.orders LIMIT 10').show()

+--------+--------------------+-----------------+---------------+
|order_id|          order_date|order_customer_id|   order_status|
+--------+--------------------+-----------------+---------------+
|   34565|2014-02-23 00:00:...|             8702|       COMPLETE|
|   34566|2014-02-23 00:00:...|             3066|PENDING_PAYMENT|
|   34567|2014-02-23 00:00:...|             7314|SUSPECTED_FRAUD|
|   34568|2014-02-23 00:00:...|             1271|       COMPLETE|
|   34569|2014-02-23 00:00:...|            11083|       COMPLETE|
|   34570|2014-02-23 00:00:...|             3159|         CLOSED|
|   34571|2014-02-23 00:00:...|             4551|         CLOSED|
|   34572|2014-02-23 00:00:...|             8135|        PENDING|
|   34573|2014-02-23 00:00:...|             7497|PENDING_PAYMENT|
|   34574|2014-02-23 00:00:...|             1868|        ON_HOLD|
+--------+--------------------+-----------------+---------------+

In [34]:
spark.sql('Select count(1) from retail_db.orders').show()

+--------+
|count(1)|
+--------+
|   68883|
+--------+

In [35]:
spark.sql('CREATE TABLE table_demo (i INT)')

21/08/25 15:03:40 WARN ResolveSessionCatalog: A Hive serde table will be created as there is no table provider specified. You can set spark.sql.legacy.createHiveTableByDefault to false so that native data source table will be created instead.
21/08/25 15:03:51 WARN SessionState: METASTORE_FILTER_HOOK will be ignored, since hive.security.authorization.manager is set to instance of HiveAuthorizerFactory.
21/08/25 15:03:51 WARN HiveConf: HiveConf of name hive.internal.ss.authz.settings.applied.marker does not exist
21/08/25 15:03:51 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
21/08/25 15:03:51 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist
21/08/25 15:03:51 WARN HiveMetaStore: Location: hdfs://0.0.0.0:9000/user/hive/warehouse/retail_db.db/table_demo specified for non-external table:table_demo

++
||
++
++

In [36]:
spark.sql('SELECT current_database()').show()

+------------------+
|current_database()|
+------------------+
|         retail_db|
+------------------+

In [38]:
spark.sql('Show tables').show()

+---------+----------+-----------+
| database| tableName|isTemporary|
+---------+----------+-----------+
|retail_db|    orders|      false|
|retail_db|table_demo|      false|
+---------+----------+-----------+